In [1]:

name1 : str = "Abdul Basit"
name2 : str = "Basit Abdul Basit"
name3 : str = "Abdul Dayyan"

# List
* dynamic length hoti ha 
* heterogenous data types (Multiple type store kae wa sakty ha)
* index 
   * postive 0 to n-1 
   *  negative  -1 to -(n+1) 
* slicing
   * variable ka bad `names[start:end:step]`
   * start : int = include
   * end    : int = n-1
   * step  : int = sequence

In [1]:
# ya old way ha list define karny ka 

# phly left to right indexing hoti 
#           0              1                2              3               4
names = ["Abdul Basit","Abdul Dayyan","Qasim Dayyan","Abbas Dayyan","Ahmad Dayyan"]
#             -5           -4                -3           -2             -1
# ab hum right to left bi indexing kar sakty ha 

print(names[0])
print(names[-5])
print(names[2])
print(names[-3])
print(names[4])
print(names[-1])

Abdul Basit
Abdul Basit
Qasim Dayyan
Qasim Dayyan
Ahmad Dayyan
Ahmad Dayyan

In [4]:
# ab hum new way sa list handle kary ga 

from typing import Any 

# phly left to right indexing hoti 
#                        0              1                2              3               4
names : list[Any] = ["Abdul Basit","Abdul Dayyan","Qasim Dayyan","Abbas Dayyan","Ahmad Dayyan"]
#                        -5           -4                -3           -2             -1
# ab hum right to left bi indexing kar sakty ha 

print(type(names))
print(type(names[-1]))

print(f"mary pyary baba jan {names[-4].upper()}ðŸ˜â¤!")

<class 'list'>
<class 'str'>
mary pyary baba jan ABDUL DAYYANðŸ˜â¤!

In [7]:
chr : list[str] = list("ABCDEFGHIJKLOMNPQRSTUVWXYZ")

print(chr)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'O', 'M', 'N', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [12]:
#                   0    1    2    3    4    5    6    7    8    9   10   11   12   13   14   15   16   17   18   19    20  21   22   23   24   25     
chr : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'O', 'M', 'N', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
#                 -26   -25  -24  -23  -22  -21  -20  -19                                                                                  -2   -1
# default slicing go from left to right 

print(chr[0:7]) # 0 : include  | index 7-1 = 6 
print(chr[:7])  # not pass any number = all 
print(chr[-26:-19]) # -26 : include | index -19-1 = -20
print(chr[0:7:1])
print(chr[:7:])

['A', 'B', 'C', 'D', 'E', 'F', 'G']
['A', 'B', 'C', 'D', 'E', 'F', 'G']
['A', 'B', 'C', 'D', 'E', 'F', 'G']
['A', 'B', 'C', 'D', 'E', 'F', 'G']
['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [13]:
#                   0    1    2    3    4    5    6    7    8    9   10   11   12   13   14   15   16   17   18   19    20  21   22   23   24   25     
chr : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'O', 'M', 'N', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
#                 -26   -25  -24  -23  -22  -21  -20  -19                                                                                  -2   -1

print(chr[::])

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'O', 'M', 'N', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [14]:
#                   0    1    2    3    4    5    6    7    8    9   10   11   12   13   14   15   16   17   18   19    20  21   22   23   24   25     
chr : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'O', 'M', 'N', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
#                 -26   -25  -24  -23  -22  -21  -20  -19                                                                                  -2   -1

print(chr[::2])

['A', 'C', 'E', 'G', 'I', 'K', 'O', 'N', 'Q', 'S', 'U', 'W', 'Y']

In [15]:
#                   0    1    2    3    4    5    6    7    8    9   10   11   12   13   14   15   16   17   18   19    20  21   22   23   24   25     
chr : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'O', 'M', 'N', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
#                 -26   -25  -24  -23  -22  -21  -20  -19                                                                                  -2   -1

print(chr[::-1])

['Z', 'Y', 'X', 'W', 'V', 'U', 'T', 'S', 'R', 'Q', 'P', 'N', 'M', 'O', 'L', 'K', 'J', 'I', 'H', 'G', 'F', 'E', 'D', 'C', 'B', 'A']

In [19]:
#                   0    1    2    3    4    5    6    7    8    9   10   11   12   13   14   15   16   17   18     
chr : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'O', 'M', 'N', 'P', 'Q', 'R', 'S']
#                 -19   -18  -17  -16  -15  -14  -13  -12  -11  -10  -9   -8   -7   -6   -5   -4   -3   -2   -1

print(chr[1:-3])

['B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'O', 'M', 'N', 'P']

In [20]:
#                   0    1    2    3    4    5    6    7    8    9   10   11   12   13   14   15   16   17   18     
chr : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'O', 'M', 'N', 'P', 'Q', 'R', 'S']
#                 -19   -18  -17  -16  -15  -14  -13  -12  -11  -10  -9   -8   -7   -6   -5   -4   -3   -2   -1

# iteration slicing ya hamsah left to right chly ga 
# step left to right  positive 
# step right to left  negative

print(chr[-2:-5:-1])

['R', 'Q', 'P']

In [21]:
#                   0    1    2    3    4    5    6    7    8    9   10   11   12   13   14   15   16   17   18     
chr : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'O', 'M', 'N', 'P', 'Q', 'R', 'S']
#                 -19   -18  -17  -16  -15  -14  -13  -12  -11  -10  -9   -8   -7   -6   -5   -4   -3   -2   -1

# iteration slicing ya hamsah left to right chly ga 
# step left to right  positive 
# step right to left  negative

print(chr[-2:-5])

[]

# List Methods

In [34]:
[i for i in dir(list) if "__" not in i]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [25]:

#                        0              1                2              3               4
names : list[Any] = ["Abdul Basit","Abdul Dayyan","Qasim Dayyan","Abbas Dayyan","Ahmad Dayyan"]
#                        -5           -4                -3           -2             -1

print(names)
names[0]

NameError: name 'Any' is not defined

In [30]:
from typing import Any

names : list[Any] = ["Abdul Basit","Abdul Dayyan","Qasim Dayyan","Abbas Dayyan","Ahmad Dayyan"]

print(names)
names[0] = "Abdul Basit Mughal" # mutable -> editable
print(names)

['Abdul Basit', 'Abdul Dayyan', 'Qasim Dayyan', 'Abbas Dayyan', 'Ahmad Dayyan']
['Abdul Basit Mughal', 'Abdul Dayyan', 'Qasim Dayyan', 'Abbas Dayyan', 'Ahmad Dayyan']

In [31]:
from typing import Any

names : list[Any] = ["Abdul Basit","Abdul Dayyan","Qasim Dayyan","Abbas Dayyan","Ahmad Dayyan"]

print(names)

del names[-1] # delete 4 index  element
print(names)

['Abdul Basit', 'Abdul Dayyan', 'Qasim Dayyan', 'Abbas Dayyan', 'Ahmad Dayyan']
['Abdul Basit', 'Abdul Dayyan', 'Qasim Dayyan', 'Abbas Dayyan']

# List methods (pop)

In [36]:
from typing import Any

names : list[Any] = ["Abdul Basit","Abdul Dayyan","Qasim Dayyan","Abbas Dayyan","Ahmad Dayyan", 30 , True]

print(names)

a : str = names.pop() # pop return methods

print(a)

['Abdul Basit', 'Abdul Dayyan', 'Qasim Dayyan', 'Abbas Dayyan', 'Ahmad Dayyan', 30, True]
True

In [37]:
from typing import Any

names : list[Any] = ["Abdul Basit","Abdul Dayyan","Qasim Dayyan","Abbas Dayyan","Ahmad Dayyan", 30 , True]

print(names)

a : str = names.pop(5) # pop return methods

print(a)

print(names)

['Abdul Basit', 'Abdul Dayyan', 'Qasim Dayyan', 'Abbas Dayyan', 'Ahmad Dayyan', 30, True]
30
['Abdul Basit', 'Abdul Dayyan', 'Qasim Dayyan', 'Abbas Dayyan', 'Ahmad Dayyan', True]

# List methods (append)

In [40]:
names : list[str] = ['a', 'b']
print(names)

names.append("Zainab") # add element in last

print(names)

['a', 'b']
['a', 'b', 'Zainab']

# list methods (insert)

In [41]:
names : list[str] = ['a', 'b', 'c', 'd']
print(names)

names.insert(1 ,"Zainab") # insert on perticular position

print(names)

['a', 'b', 'c', 'd']
['a', 'Zainab', 'b', 'c', 'd']

# List methods (clear)

In [43]:
a : list[int] = [1,2,3,4,5]
del a # remove object from memory
print(a)

NameError: name 'a' is not defined

In [44]:
a : list[int] = [1,2,3,4,5,6]

print(a)

a.clear() # remove all element but object is ramen

print(a)

[1, 2, 3, 4, 5, 6]
[]

# List methods (copy)

In [45]:
a : list[str] = ['a','s','d']
b = a

print(a)
print(b)

['a', 's', 'd']
['a', 's', 'd']

In [46]:
a : list[str] = ['a','s','d']
b = a # shallow copy
print(a)
print(b)

b[0] = "Pakistan" # change only b variable but both  variable updated
print(a)
print(b)

['a', 's', 'd']
['a', 's', 'd']
['Pakistan', 's', 'd']
['Pakistan', 's', 'd']

In [50]:
a : list[str] = ['a','s','d']
b = a.copy() # Deep copy
print("a",a)
print("b" , b)

b[0] = "Pakistan" # change only b variable but both  variable updated
print("a",a)
print("b" , b)

a ['a', 's', 'd']
b ['a', 's', 'd']
a ['a', 's', 'd']
b ['Pakistan', 's', 'd']

# List methods (count)

In [51]:
names : list[str] = ['a','a','a','a','b','b','c']
print(names.count('a'))
print(names.count('c'))

4
1

# List methods (extend)

In [56]:
names : list[str] = ['Abdul Basit','Abdul Dayyan']

new_faculty_members :  list[str] = ['Ahmad','Abbas','Qasim']

names.append(new_faculty_members)
print(names)

['Abdul Basit', 'Abdul Dayyan', ['Ahmad', 'Abbas', 'Qasim']]

In [57]:
names : list[str] = ['Abdul Basit','Abdul Dayyan']

new_faculty_members :  list[str] = ['Ahmad','Abbas','Qasim'] #add  multiple variable 

names.extend(new_faculty_members)
print(names)

['Abdul Basit', 'Abdul Dayyan', 'Ahmad', 'Abbas', 'Qasim']

In [64]:
names : list[str] = ['Abdul Basit','Abdul Dayyan','Ahmad','Abbas','Qasim']

del names[1:3] # multiple items delete bi karwa sakty ha slicing ki madad sa
print(names)

['Abdul Basit', 'Abbas', 'Qasim']

# List methods (index)

In [60]:
names : list[str] = ['Abdul Basit', 'Abdul Dayyan', 'Ahmad', 'Abbas', 'Qasim']

names.index("Ahmad")

2

# List methods (remove)

In [58]:
names : list[str] = ['Abdul Basit', 'Abdul Dayyan', 'Ahmad', 'Abbas', 'Qasim']

names.remove("Qasim") # remove with text value 
print(names)

['Abdul Basit', 'Abdul Dayyan', 'Ahmad', 'Abbas']

# List methods (reverse)

In [61]:
names : list[str] = ['Abdul Basit', 'Abdul Dayyan', 'Ahmad', 'Abbas', 'Qasim']
print(names)
names.reverse() # in memory = change real data 
print(names)

['Abdul Basit', 'Abdul Dayyan', 'Ahmad', 'Abbas', 'Qasim']
['Qasim', 'Abbas', 'Ahmad', 'Abdul Dayyan', 'Abdul Basit']

# List methods (sort)

In [62]:
names : list[str] = list("ABDCGFIH")
print(names)
names.sort() # in memory = change real data SORT
print(names)

['A', 'B', 'D', 'C', 'G', 'F', 'I', 'H']
['A', 'B', 'C', 'D', 'F', 'G', 'H', 'I']

In [32]:
a : str = print("Pakistan")  # none return function 
display(a)

Pakistan

None

In [33]:
a : str = id(names)  #  return function 
display(a)

1636707530240